<!-- ---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


  <p style="text-align: center; font-size: 1.5em;">🚀 <strong>Coming Soon!</strong> Stay tuned for updates.</p>

<!-- {% for post in site.portfolio %} -->
<!--   {% include archive-single.html %} -->
<!-- {% endfor %} --> -->

---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h1 style="text-align: center;">My Projects</h1>

<div class="portfolio-grid">
  {% for post in site.portfolio %}
    <div class="portfolio-item">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt | markdownify }}</p>
    </div>
  {% endfor %}
</div>
